userspace:
  cwd: ===
macAddresses:
  - 00:00:00:00:00:00
  - 00:00:00:00:00:00
pfSense:
  user : ===
  pass : ===
pfSenseCfg:
  url : ===
mosquitto:
  user : ===
  pass : ===
mqttCfg:
  host : ===
  topicRoot: ===
  cafile : ===
